.collection-item .row  {
  margin-bottom: 0px;
}

.card .card-action a {
  text-transform: initial;
}

h6 {
  font-size: 1.3rem;
}

.collection div.collection-item {
  color: #26a69a;
}

form > .row {
  margin-bottom: 0;
}

.btn {
  padding: 0 1rem;
}

.full-width {
  display: block;
  width: 100%;
}

/*@-webkit-keyframes ngSlideOutUp {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  75% {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    height: 53.5938px;
  }
  100% {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
    height: 0;
  }
}

@keyframes ngSlideOutUp {
  0% {
    /*height: 53.5938px;*/
  }

  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
    height: 0;
    margin-bottom: 0;
    padding: 0;
  }
}*/

/*.ng-hide-remove {
  -webkit-animation: slideInDown 1s;
  -o-animation: slideInDown 1s;
  animation: slideInDown 1s;
  position: relative;
  border: none;
  z-index: -9999;
}

.ng-hide-add {
  -webkit-animation: ngSlideOutUp 1s;
  -o-animation: ngSlideOutUp 1s;
  animation: ngSlideOutUp 1s;
  position: relative;
  z-index: -9990;
}*/
