.collection-item .row  {
  margin-bottom: 0px;
}

.card .card-action a {
  text-transform: initial;
}

h6 {
  font-size: 1.3rem;
}

.collection div.collection-item {
  color: #26a69a;
}

form > .row {
  margin-bottom: 0;
}

.btn {
  padding: 0 1rem;
}

.full-width {
  display: block;
  width: 100%;
}
