/*.collection-item .row  {
  margin-bottom: 0px;
}

.card .card-action a {
  text-transform: initial;
}

h6 {
  font-size: 1.3rem;
}

.collection div.collection-item {
  color: #26a69a;
}

form > .row {
  margin-bottom: 0;
}

.btn {
  padding: 0 1rem;
}

.full-width {
  display: block;
  width: 100%;
}*/

.s48 {
  width: 48px;
  height: 48px;
}

md-card-content > h2 {
  margin-top: 0em;
}

.md-shadow {
 box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
             0px 0px 2px 2px rgba(0, 0, 0, 0.098),
             0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

md-list {
  padding-top: 0px;
}

md-card md-card-content.no-top-padding {
  padding-top: 0px;
}

a[href^="tel:"], a[href^="mailto:"] {
  text-decoration: none;
}