<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.angular.mobile" version="0.1.0">
  <name>Angular Mobile</name>
  <description>Sample mobile app with Angular JS app</description>
  <author email="coldliquidflame@gmail.com">Chris White</author>
  <content src="index.html"/>
  <!-- This now applies only to HTTP and HTTPS on Android -->
    <access origin="*" />
    <!-- These are needed in Cordova 3.6 and newer for Android -->
    <access origin="mailto:*" launch-external="yes"/>
    <access origin="tel:*" launch-external="yes"/>
</widget>
