<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.angular.mobile" version="0.1.0">
  <name>Sentry</name>
  <description>
    With the power of a million exploding suns, this app will serve as the basis for the retail energy provider (REP) 
    mobile app. This app will enable REP customers to view their bills, make payments, view/modify account information, 
    and find payment locations.
  </description>
  <author email="coldliquidflame@gmail.com">Chris White</author>
  <!-- Android Configuration -->
  <gap:platform name="android" />
  <preference name="android-minSdkVersion" value="14"/>
  <!-- iOS Configuration -->
  <gap:platform name="ios" />
  <preference name="target-device" value="universal"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <!-- Global Configuartion -->
  <preference name="phonegap-version" value="cli-5.2.0" />
  <preference name="orientation" value="portrait"/>
  <preference name="fullscreen" value="true"/>
  <!-- Features -->
  <preference name="permissions" value="none"/>
  <!-- Plugins -->
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
</widget>
