<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.angular.mobile" version="0.1.0">
  <name>Angular Mobile</name>
  <description>Sample mobile app with Angular JS app</description>
  <author email="coldliquidflame@gmail.com">Chris White</author>
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
  <!--<allow-intent href="http://*/*"/>-->
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <!--<allow-intent href="sms:*"/>-->
  <allow-intent href="mailto:*"/>
  <!--<gap:platform name="ios" />-->
  <gap:platform name="android" />
  <!--<gap:platform name="winphone" />-->
</widget>
