<md-content>
  <form name="profile">
    <md-input-container>
      <label for="email">Contact Email</label>
      <input type="email" id="email" name="email" ng-model="email">
      <div ng-messages="profile.email.$error">
        <div ng-message="email">Not a valid email</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label for="phone">Contact Phone</label>
      <input type="phone" id="phone" ng-model="profile.phone">
    </md-input-container>
    <md-button class="md-primary md-raised" ng-click="goBack()">Save</md-button>
    <md-button class="md-raised" ng-click="goBack()">Cancel</md-button>
  </form>
</md-content>