<md-content>
  <form name="billing">
    <md-input-container>
        <label>Street Address</label>
        <input type="text" name="address_line_1" ng-model="address_line_1" required>
        <div ng-messages="billing.address_line_1.$error && billing.address_line_1.$touched">
          <div ng-message="required">Address is required</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Apt/Suite</label>
        <input type="text" name="address_line_2">
        <div ng-messages="billing.address_line_2.$error && billing.address_line_2.$touched">
          <div ng-message="required">Address is required</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>City</label>
        <input type="text" name="city" ng-model="city" required>
        <div ng-messages="billing.city.$error && billing.city.$touched">
          <div ng-message="required">City is required</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>State</label>
        <md-select name="state" ng-model="state" required>
            <md-option ng-repeat="state in states" value="{{ state.abbrev }}">{{ state.abbrev }}</md-option>
        </md-select>
        <div ng-messages="billing.state.$error && billing.state.$touched">
          <div ng-message="required">State is required</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Zipcode</label>
        <input type="number" name="zipcode" ng-minlength="5" ng-maxlength="5" ng-model="zipcode" required>
        <div ng-messages="billing.zipcode.$error && billing.zipcode.$touched">
          <div ng-message="required">Zipcode is required</div>
          <div ng-message="minlength, maxlength">Zipcode must be 5 digits.</div>
        </div>
    </md-input-container>
    <md-button class="md-primary md-raised" ng-click="goBack()">Save</md-button>
    <md-button class="md-raised" ng-click="goBack()">Cancel</md-button>
  </form>
</md-content>