<md-list>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" ng-click="goTo('/contact-info/email-phone')">
    <md-icon md-svg-icon="av:equalizer" class="md-avatar-icon"></md-icon>
    <div class="md-list-item-text" layout="column">
      <h3>Update email/phone</h3>
      <md-icon class="md-secondary" md-svg-icon="navigation:chevron_right"></md-icon>
    </div>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="md-3-line">
    <md-icon md-svg-icon="action:print" class="md-avatar-icon"></md-icon>
    <div class="md-list-item-text" layout="column">
      <h3>Paperless Billing</h3>
      <md-switch ng-model="paperlessBilling"></md-switch>
    </div>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" ng-click="goTo('/contact-info/billing-address')">
    <md-icon md-svg-icon="maps:place" class="md-avatar-icon"></md-icon>
    <div class="md-list-item-text" layout="column">
      <h3>Update billing address</h3>
      <md-icon class="md-secondary" md-svg-icon="navigation:chevron_right"></md-icon>
    </div>
  </md-list-item>
  <md-divider></md-divider>
</md-list>